<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socket testing</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="input-contain">
        <input id="msgBox" placeholder="Enter your message here." type="text">
        <button id="sendBtn">Send</button>
    </div>

    <div id="msgContain">
    </div>
    <div class="msg-footer">by johval lol</div>
</body>
<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
<script src="/index.js"></script>
</html>