<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socket testing</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/screen-response.css">
</head>
<body>
    <div class="main-content">
        <!--header-->
        <div class="header">
            <div>
                <h1 class="header-title" id="globalTell"></h1>
            </div>
            <div style="display: flex; gap: 6px;">
                <a class="link-button lobby-link" href="/chats">Global</a>
                <a class="link-button lobby-link" href="?lobby=chat_1">Chat 1</a>
                <a class="link-button lobby-link" href="?lobby=chat_2">Chat 2</a>
            </div>
        </div>
        <div class="input-contain">
            <div class="chat-box">

            <input id="msgBox" placeholder="Enter message..." type="text">
            <button id="sendBtn"></button>

            </div>
        </div>

        <div id="msgContain"></div>
        <div class="msg-footer" id="footer">by johval lol</div>

    </div>
</body>
<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
<script src="/main_chats_func.js"></script>
</html>
